/*------------ RESET ------------*/
div[class*='post--'] .postbody table, div[class*='post--'] .postbody td, #preview .postbody table, #preview .postbody td { border:0 !important; }

/*** USERS TAG ***/
.mentiontag,
.mentiontag:hover {
    color: var(--co-2) !important;
    background-color: transparent;
    padding: 0 !important;
}

.tooltipster-base,
.tooltipster-content {
    border-radius: var(--radius) !important;
}

.tooltipster-base {
    border: 1px solid var(--base-1);
    background: var(--base-2);
    box-shadow: none !important;
}

.tooltipster-content {
    background: var(--base-3);
    color: var(--tx);
}

.tooltip-content img {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    border: none !important;
    object-fit: cover;
    object-position: top;
}

.tooltip-counts {
    margin-top: var(--spacing);
}

.tooltip-actions {
    background: var(--co-gradient);
}

.tooltip-actions ul {
    width: 50px;
    margin: 0 43%;
}

.tooltip-actions ul li:first-child {
    display: none;
}

.tooltip-actions ul li:nth-child(3) {
    display: none;
}

.tooltip-actions ul li {
    font-family: "cappuccicons";
}

.tooltip-actions ul li a img {
    display: none;
}

.tooltip-actions ul li:nth-child(2) a::before {
    content: "\ea88";
    color: white;
}

.tooltip-actions ul li:nth-child(4) a::before {
    content: "\e9c1";
    color: white;
}

.tooltipster-arrow span {
    border: none !important;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-image: var(--co-gradient);
    width: 35px !important;
    height: 20px !important;
}

.thHead,
.thSide {
    color: var(--co-2) !important;
    background: var(--base-1);
}

td.cat,
td.catBottom,
td.catHead,
td.catRight,
td.row3Right,
th.thRight,
th.thBottom,
th.thCornerL,
th.thCornerR,
th.thHead,
th.thLeft,
th.thRight,
th.thSides,
th.thTop {
    border-width: 0 !important;
}

th {
    text-align: center;
}

td.catSides,
td.spaceRow,
th.thSides {
    background: transparent !important;
    border-width: 0 !important;
}

.forumline .row1,
.forumline .row2,
.forumline .row3 {
    padding: 4px;
}

/*** scrollbar ***/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--noir);
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    border-radius: 0;
    background: linear-gradient(to top, var(--co-1), var(--co-2));
}

::-webkit-scrollbar-thumb:horizontal {
    height: 30px;
    border-radius: 0;
    background-color: var(--blanc);
}

/*** texte sélectionné ***/
::-moz-selection {
    background: var(--tx) !important;
    color: var(--blanc) !important;
    text-shadow: none !important;
}

::selection {
    background: var(--tx) !important;
    color: var(--noir) !important;
    text-shadow: none !important;
}

/*** topics ***/
.post h2.topic-title a {
    display: inline-block;
    max-width: none;
}

.post h2.topic-title .fa-mention:not(.bubble .fa-mention) {
    font-size: var(--m-size);
    line-height: var(--l-size);
}

.rep-button,
.rep-button:active,
.rep-button:focus {
    margin: 0;
    background: none;
}

/* smileys à gauche */
#smiley-box,
.smile-status-box {
    float: left;
    width: 255px;
}

#smiley-box iframe,
.smile-status-box iframe {
    height: 580px !important
}

#message-box {
    margin: 0 0 0 258px;
}

#message-box .sceditor-container {
    border: 1px solid var(--base-1) !important;
}

/*** ÉDITEUR DE TEXTE ***/
#quick_reply #textarea_content,
div.sceditor-container,
body div.sceditor-group,
a.sceditor-button:hover,
a.sceditor-button.hover {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: var(--radius) !important;
}

/* dropdown */
div.sceditor-dropdown {
    background: var(--base-3) !important;
    border: none !important;
    margin-top: 45px !important;
    color: var(--tx) !important;
}

.editeur .h3 {
    display: none;
}

#quick_reply #textarea_content,
#message-box #textarea_content {
    background: var(--body-img) center;
    background-size: cover;
    border-radius: var(--radius) !important;
}

#quick_reply #textarea_content {
    overflow: inherit;
}

#message-box #textarea_content {
    overflow: hidden;
}

#message-box textarea {
    height: 500px !important;
}

.sceditor-container {
    background: var(--base-6) !important;
}

div.sceditor-toolbar {
    padding: 5px 10px 10px !important;
    background: var(--base-3) !important;
    padding: 7px 0 !important;
    border-radius: var(--radius) var(--radius) 0 0 !important;
    border-bottom: 1px solid var(--base-1) !important;
}

/* compteur de mots */
div#compteur-mots {
    text-align: center;
    color: var(--tx);
    font-weight: 400;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: var(--xs-size);
    letter-spacing: 1px;
}

#preview .inner .postbody {
    margin: var(--spacing) !important;
}

div.sceditor-dropdown a,
div.sceditor-dropdown a:link,
div.sceditor-dropdown label {
    color: var(--tx) !important;
}

#sceditor_smilies {
    color: gray !important;
    outline: none !important;
}

.sceditor-dropdown a:hover {
    background: var(--base-2) !important;
}

.sceditor-mention-user {
    background: var(--base-2) !important;
    border-color: var(--base-2) !important;
}

.sceditor-mention-user:hover {
    background: var(--base-5) !important;
    color: var(--tx) !important;
}

.sceditor-mention-user img {
    border: none !important;
    margin: 0 var(--spacing) 0 -3px !important;
}

div.sceditor-dropdown input,
div.sceditor-dropdown textarea {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 100%;
}

div.sceditor-dropdown .button {
    background: var(--co-1) !important;
    color: white !important;
    border: none !important;
    font-weight: 600 !important;
}

div.sceditor-dropdown .button:hover {
    color: var(--co-1) !important;
    background: var(--base-2) !important;
}

/* zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
    display: block;
    width: 100% !important;
    height: 300px !important;
    padding: var(--spacing) 30px !important;
    color: var(--tx) !important;
    line-height: 175%;
    font-size: var(--size) !important;
    color: var(--tx);
}

/* icone menu edition */
.sceditor-toolbar .sceditor-button {
    text-indent: 0;
    padding: 1px !important;
    width: 32px !important;
    height: 32px !important;
}

.sceditor-toolbar .sceditor-button div {
    font-family: FontAwesome;
    font-weight: normal;
    line-height: 30px;
    width: 100%;
    height: 100%;
    background: var(--co-gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 0;
}

.sceditor-toolbar .sceditor-button div::before {
    font-size: var(--size) !important;
}

/* bold */
.sceditor-button-bold div:before {
    content: "\f032";
}

/* italic */
.sceditor-button-italic div:before {
    content: "\f033";
}

/* underline */
.sceditor-button-underline div:before {
    content: "\f0cd";
}

/* strike */
.sceditor-button-strike div:before {
    content: "\f0cc";
}

/* text align left */
.sceditor-button-left div:before {
    content: "\f036";
}

/* text align center */
.sceditor-button-center div:before {
    content: "\f037";
}

/* text align right */
.sceditor-button-right div:before {
    content: "\f038";
}

/* text align justify */
.sceditor-button-justify div:before {
    content: "\f039";
}

/* bullet list */
.sceditor-button-bulletlist div:before {
    content: "\f0ca";
}

/* ordered list */
.sceditor-button-orderedlist div:before {
    content: "\f0cb";
}

/* horizontal rule */
.sceditor-button-horizontalrule div:before {
    content: "\f2d1";
}

/* quote */
.sceditor-button-quote div:before {
    content: "\f10d";
}

/* code */
.sceditor-button-code div:before {
    content: "\f121";
}

/* spoiler */
.sceditor-button-faspoiler div:before {
    content: "\f066";
}

/* hide */
.sceditor-button-fahide div:before {
    content: "\f070";
}

/* table */
.sceditor-button-table div:before {
    content: "\f0ce";
}

/* host an image */
.sceditor-button-servimg div:before {
    content: "\f0ee";
}

/* insert an image */
.sceditor-button-image div:before {
    content: "\f03e";
}

/* insert a link */
.sceditor-button-link div:before {
    content: "\f0c1";
}

/* embed a post */
.sceditor-button-embed div:before {
    content: "\f019";
}

/* youtube */
.sceditor-button-youtube div:before {
    content: "\f16a";
}

/* dailymotion */
.sceditor-button-dailymotion div:before {
    content: "\f008";
}

/* header */
.sceditor-button-headers div:before {
    content: "\f1dc";
}

/* flash */
.sceditor-button-flash div:before {
    content: "\f0e7";
}

/* font size */
.sceditor-button-size div:before {
    content: "\f034";
}

/* font color */
.sceditor-button-color div:before {
    content: "\f1fb";
}

/* font family */
.sceditor-button-font div:before {
    content: "\f031";
}

/* remove formatting */
.sceditor-button-removeformat div:before {
    content: "\f12d";
}

/* mention a user */
.sceditor-button-mention div:before {
    content: "\f1fa";
}

/* button more */
.sceditor-button-more div:before {
    content: "\f196";
}

/* sub script */
.sceditor-button-subscript div:before {
    content: "\f12c";
}

/* super script */
.sceditor-button-superscript div:before {
    content: "\f12b";
}

/* scroll horizontal */
.sceditor-button-fascroll div:before {
    content: "\f07e";
}

/* scroll vertical */
.sceditor-button-faupdown div:before {
    content: "\f07d";
}

/* WoW */
.sceditor-button-fawow div:before {
    content: "\f118";
}

/* random */
.sceditor-button-farand div:before {
    content: "\f074";
}

/* emoticon */
.sceditor-button-emoticon div:before {
    content: "\f5b8";
}

/* emoticon */
.sceditor-button-twemojifa div:before {
    content: "\f584";
}

/* date */
.sceditor-button-date div:before {
    content: "\f133";
}

/* time */
.sceditor-button-time div:before {
    content: "\f017";
}

/* paste text */
.sceditor-button-pastetext div:before {
    content: "\f0ea";
}

/* switch editor mode */
.wysiwygMode .sceditor-button-source div:before {
    content: "\f204";
}

.sourceMode .sceditor-button-source div:before {
    content: "\f205";
}

/* bouton sauvegarde */
#save_button div::before {
    content: '\f0c7';
    font-weight: bold;
}
#savec { position:relative; }
.save-bloc { color: var(--tx)!important; z-index: 999; padding: 5px; background: #efefef url(https://2img.net/i/fa/prosilver/bg_button.gif) repeat-x; display:none;top:20px;left:0px;position:absolute; white-space:nowrap; }
.save-bloc div:hover { color: var(--tx)!important; }
.save-bloc div { cursor: pointer; }
.save-bloc select { background: var(--base-1); margin-bottom: 5px; }
#saves span {background: var(--co-gradient); text-transform: uppercase; font-size: var(--s-size); font-weight: 600; padding: 2px 5px; color: white}

/* EMOJIONE*/
img.emojione {
    display: inline-block;
    margin-bottom: -3px;
}

/*** COPY CODES ***/
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color: var(--co-2) !important;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-type,
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: var(--blanc) !important;
}

.hljs-section,
.hljs-name {
    color: var(--co-1) !important;
}

/*** SWITCHEROO barre et position ***/
.switcheroo {
    margin: auto;
    height: fit-content;
    z-index: 3;
    padding: var(--spacing);
    background: var(--base-2);
    border-radius: var(--radius) var(--radius) 0 0;
    color: var(--tx);
    font-size: 16px
}

input#switcheroo-username,
input#switcheroo-password {
    color: white! important;
}

.switcheroo,
.switcheroo *,
.switcheroo *:before,
.switcheroo *:after {
    box-sizing: border-box;
}

/* liste flex des comptes et boutons */
.switcheroo__squircles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: var(--gap-size);
    font-family: var(--font);
}

/* compte ou bouton */
.switcheroo__squircle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--noir);
    border: 1px solid var(--noir);
    width: 30px;
    height: 30px;
    font-size: var(--size);
    color: var(--blanc);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.switcheroo__squircle--button .switcheroo__popper {
    display: none;
}

.switcheroo__squircle--button {
    width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--co-2);
    font-size: var(--xs-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.15s var(--ease);
}

.switcheroo__squircle--button:hover {
    color: var(--blanc);
    background-color: var(--base-3);
    border-radius: var(--radius) !important;
    letter-spacing: 2px;
}

.switcheroo__squircle--button i {
    font-size: var(--size);
    margin-right: 5px;
}

.switcheroo__squircle:hover {
    border-radius: 36%;
}

/* tooltip hover */
.switcheroo__squircle:hover .switcheroo__popper {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

/* puce hover */
.switcheroo__squircle:hover:before {
    opacity: 1;
    transform: translate(-100%, -50%) scale(0.5);
}

/* delete button */
.switcheroo__squircle:hover .switcheroo__delete {
    opacity: 1;
    transform: scale(1);
}

/* puce active */
.switcheroo__squircle.active {
    border-radius: 50%;
    cursor: default;
}

.switcheroo__link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switcheroo__link:hover {
    text-decoration: none;
}

/* tooltip */
.switcheroo__popper {
    background-color: var(--base-1);
    border-radius: var(--xs-radius);
    padding: 5px 7px;
    position: absolute;
    left: -200%;
    right: -200%;
    margin: 0 auto;
    top: 155%;
    transform-origin: left;
    transform: translateY(-50%) scale(0.98);
    width: -webkit-max-content;
    width: max-content;
    z-index: 1;
    opacity: 0;
    transition: opacity 64ms var(--ease), transform 0.15ms var(--ease-bounce);
    pointer-events: none;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
}

/* avatars */
.switcheroo__avatar {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.switcheroo__avatar img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* logo image taille */
.switcheroo__logo img {
    width: 32px;
}

/* logo hover */
.switcheroo__logo:hover {
    background-color: var(--clair);
}

/* button delete */
.switcheroo__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    right: -8px;
    border-radius: 50%;
    color: var(--blanc);
    background-color: var(--co2);
    transform: scale(0);
    opacity: 1;
    transition: transform 128ms var(--ease), opacity 64ms var(--ease);
    cursor: pointer;
}

.switcheroo__delete i {
    transform: scale(0.5);
    pointer-events: none;
}

/* petit divider apres logo */
.switcheroo__divider {
    width: 100%;
    height: 2px;
    background-color: var(--blanc);
    border-radius: 1px;
    opacity: 0.06;
    transform: scale(0.8);
}

/* formulaire de connexion */
.switcheroo__form {
    display: grid;
    grid-template: repeat(2, 1fr) / 160px 35px;
    gap: 1px;
    width: 201px;
    height: 52px;
    overflow: hidden;
    border-radius: var(--xs-radius);
    background: var(--co-1);
    border: 1px solid var(--base-2);
}

.switcheroo__form-row {
    flex-flow: column;
    align-items: flex-start;
}

.switcheroo__form-row:nth-of-type(2) {
    grid-row: 2;
}

.switcheroo__form-row:nth-of-type(3) {
    grid-row: 1 / span 2;
}

/* titre du champs */
.switcheroo__form-label {
    display: none;
}

/* champs du formulaire */
.switcheroo__form-input {
    padding: 6px !important;
    font-size: 11px !important;
    cursor: text !important;
    background: var(--co-gradient) !important;
    width: 100% !important;
    border: none !important;
}

/* bouton connexion */
button[name="login"] {
    width: 100%;
    height: 100%;
    font-size: 0;
}

button[name="login"]::after {
    content: "\ea87";
    font-family: var(--icfont);
    font-size: 16px;
    color: var(--co-2);
}


.monomer-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s opacity ease;
    background: rgba(0, 0, 0, 0.6);
}

.monomer-modal {
    position: fixed;
    z-index: 999;
    top: 108px;
    left: 94px;
    width: 94%;
    transition: 0.2s opacity ease;
    transform: translate(-50%, -50%) color: var(--tx);
    opacity: 0;
}

.monomer-modal.monomer-open.monomer-anchored {
    top: 20px;
    transform: translate(-50%, 0);
}

.monomer-modal.monomer-open {
    opacity: 1;
}

.monomer-overlay.monomer-open {
    opacity: 1;
}

/* Close Button */
.monomer-close {
    display: none;
}

.monomer-close:hover {
    opacity: 0.8;
}

/*------------ TOOLBAR FA ------------*/
/*--- avatar dans la toolbar ---*/
a.fa_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -40px;
}

.fa_avatar_ctnr {
    width: 60px;
    margin-bottom: 40px;
}

.fa_avatar_ctnr::before,
.fa_avatar_ctnr::after {
    content: '';
    display: block;
    margin-left: 28px;
    width: 1px;
    background: var(--noir);
}

.fa_avatar_ctnr::after {
    height: calc(50vh - 145px);
}

.fa_avatar_ctnr::before {
    height: calc(50vh - 105px);
}

.fa_avatar img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    margin: var(--spacing) 0 var(--spacing) 20px;
    border-radius: 50%;
    border: 1px solid var(--noir);
    transition: .5s all;
}

/*** toolbar ***/
#fa_toolbar {
    background: transparent;
    padding: 0 !important;
    height: 0 !important
}

#fa_show,
div#fa_search,
span#fa_share,
a#fa_hide,
a#fa_fb,
a#fa_twitter,
a#fa_mail,
a#fa_rss,
#fa_left {
    display: none !important
}

#fa_toolbar {
    text-align: center
}

#fa_right {
    float: left! important;
    transition: all .5s;
    position: inherit;
    left: 80px;
}

#fa_right li a {
    margin-left: 0 !important;
    padding: 0 !important;
    color: var(--blanc) !important;
    font-family: var(--base-font)
}

div#live_notif {margin-top: 68px;right: 110px!important}

#fa_notifications span {
    font-size: var(--s-size);
    line-height: var(--s-size);
    font-weight: 700;
    color: var(--blanc);
    z-index: 1;
    position: fixed;
}

#fa_notifications::before {
    content: "\e959";
    position: absolute;
    font-family: var(--icfont);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translate(-25px, -24px);
    background: var(--base-2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid var(--noir);
    color: var(--co-1);
}

a#fa_welcome {
    position: relative;
    top: 31px;
    left: -49px;
}

a#fa_welcome,
#fa_right a[href^="https://whisperinthenight.forumactif.com/register"] {
    margin:0 !important;
    color: var(--co-1) !important;
    font-size:0;
    text-align:right;
    transition: all .5s;
}

#fa_welcome::before {
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: var(--co-2);
    color: white;
    font-size: var(--m-size);
    border-radius: 50%;
    border: 1px solid var(--noir);
    transform: translate(64px, -8px);
}

a#fa_welcome,
#fa_right a.rightHeaderLink {
    margin: 12px 0 0 !important;
    padding: 0 !important;
    color: var(--co-1);
    opacity: 0;
    animation: fromInvisibleToVisible 1s .5s forwards
}

/*** menu profil ***/
#fa_welcome:hover,
#fa_right.welcome #fa_menu #fa_welcome {
    background: transparent;
    letter-spacing: 1px
}

#fa_right.welcome #fa_menu ul {
    left: 0 !important;
    right: 0;
    top: 170px;
    width: 385px;
    background: var(--base-3);
    padding-right: 21px;
    box-shadow: none;
    overflow: hidden;
    border-radius: var(--radius);
}

/*gauche*/
#fa_usermenu {
    background: var(--base-3);
    border-color: var(--base-1);
    color: var(--tx);
}

#fa_usermenu img {
    margin: 25px auto;
    height: 120px;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    border: none
}

a#fa_ranktitle::before {
    content: '';
    z-index: -1;
    display: block;
    width: 95px !important;
    height: 95px;
    border: 1px solid var(--base-1);
    animation: rotating 10s infinite;
    margin: -110px auto -200px;
    grid-row: 1;
    background: var(--base-2);
}

a#fa_ranktitle b1 { color: var(--blanc); font-size: 18px; text-transform: lowercase; }

@keyframes rotating {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

a#fa_ranktitle {
    display: grid !important;
    grid-template-rows: 0px 95px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 43px;
    left: 30px;
    height: 95px;
    color: var(--blanc) !important;
    overflow: inherit !important;
    font-family: var(--special-font);
    font-size: 28px;
    margin: var(--spacing) 0 10px;
    font-size: 0;
}

#fa_usermenu table tbody {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fa_usermenu tr,
#fa_usermenu tr td.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fa_usermenu tr td.first {
    border: 2px solid var(--co-1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-right: 7px;
}

#fa_usermenu tr:first-of-type td.first {
    font-size: 0
}

#fa_usermenu tr:first-of-type td.first::before,
#fa_usermenu tr:last-of-type td.first {
    content: 'Msg';
    font-size: var(--s-size);
    text-transform: uppercase;
}

#fa_usermenu tr td:nth-child(2) {
    display: none
}

#fa_usermenu td.bold {
    padding-left: 0;
    background: var(--base-3);
    width: 16px;
    margin-left: -10px;
    color: var(--blanc);
    text-align: center;
    font-size: var(--s-size);
}

/*droite*/
#fa_menulist li a:link,
#fa_menulist li a:visited {
    color: var(--co-2) !important
}

#fa_menulist li a:hover {
    color: var(--blanc) !important
}

#fa_menulist li a::before {
    content: '\002022\0000A0';
    display: inline-block;
    color: var(--co-2) !important;
    width: 0;
    opacity: 0;
    transition: all .5s;
}

#fa_menulist a:hover::before {
    width: 10px;
    opacity: 1;
}

#fa_toolbar #fa_right .fa_separator {
    background: var(--base-1)
}

#fa_menulist li {
    text-align: left;
}

/*** boutons droite ***/
#FAM-button {
    bottom: 130px;
    right: 18px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--base-2);
    border-radius: 50%;
    border: 1px solid var(--noir);
}

#fa_notifications {
    transform:translate(27px, 30px);
}

#fa_toolbar #live_notif .fa_notification {
    background: var(--co-gradient)
}

#fa_toolbar #fa_right #notif_list {
    left: 0 !important;
    background: transparent;
    box-shadow: none;
}

#fa_toolbar #fa_right #notif_list li hr {
    display: none
}

#fa_toolbar #fa_right #notif_list li.see_all {
    background: var(--co-gradient);
    padding: 5px 8px !important;
    border: 1px solid var(--base-6);
    border-radius: var(--xs-radius);
    font-size: var(--size);
    white-space: nowrap;
}

#fa_toolbar #fa_right #notif_list li,
#fa_toolbar #fa_right #notif_list li.unread {
    margin-bottom: 5px;
    padding: var(--spacing);
    background: var(--base-3);
    border-radius: var(--xs-radius);
    font-size: var(--size);
    color: var(--tx);
}

#fa_toolbar #fa_right #notif_list li {
    background: var(--base-3)
}

#fa_toolbar #fa_right #notif_list li.unread {
    background: var(--base-3)
}

#fa_toolbar #fa_right #notif_list li .contentText a {
    color: var(--co-2) !important
}

#fa_menu:hover :visited,
#fa_toolbar>#fa_right.notification>#fa_notifications {
    background: transparent
}

#fa_toolbar #fa_right #fa_notifications.unread #notif_unread {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: var(--base-2);
    border-radius: var(--xs-radius);
    width: 20px;
    height: 20px;
}

/*** DARK MODE ***/
a#fa_notifications,
.dark_mode {
    transition: all 0.3s
}

.dark_mode:hover {
    filter: brightness(110%)
}

.dark_mode {
    position: relative !important;
    display: grid;
    align-self: flex-end;
    margin-bottom: 15px;
    cursor: pointer;
    z-index: 1;
    margin-top: var(--spacing);
    color: var(--co-2);
}

.dark_mode::before,
.dark_mode::after {
    grid-row: 1;
    grid-column: 1;
    background: var(--base-2);
}

/* soleil ou lune */
body.dark .dark_mode::before,
body.light .dark_mode::before {
    font-family: 'cappuccicons';
    color: var(--co-2);
    padding: 5px;
}

body.light .dark_mode::before {
    content: '\eb96';
    border: 1px solid var(--co-1);
}

body.dark .dark_mode::before {
    content: '\eca7';
    border: 1px solid white;
}

.dark_mode::before {
    content: '';
    width: 25px;
    height: 25px;
    z-index:1;
    border: 1px solid var(--co-1);
    transform: rotate(45deg);
}

/* icon messenger */
.fa-comments::before {
    content: "\f086";
    font-size: 1.3em;
}

/* icon jour/nuit */
.cp-moon::before {
    content: "\eb96";
    position: absolute;
    left: -20px;
}

/*------------ AFFICHAGE DES MP ------------*/
.button-round {
    background: var(--base-6);
    box-shadow: none;
    border: 1px solid var(--base-6);
    color: var(--co-2) !important
}

.button-round:hover {
    box-shadow: none;
    color: var(--blanc) !important
}

#privmsgs-menu {
    padding: 0;
    background: var(--base-6);
    box-shadow: none
}

#privmsgs-menu,
#privmsgs-menu li,
#privmsgs-menu .active {
    border-radius: var(--radius)
}

#privmsgs-menu .active {
    background: var(--base-5);
    border: 1px solid var(--base-6);
    opacity: .8
}

#privmsgs-menu>li {
    min-height: 58px;
    min-width: 100px;
    padding: 5px 9px 0
}

#privmsgs-menu>li:hover a {
    color: var(--blanc) !important;
}

ul.topiclist li {
    border-radius: var(--radius)
}

#privmsgs-menu i {
    background: var(--co-gradient);
    height: 30px;
    width: 30px;
    margin-bottom: 3px;
    color: white;
    font-size: var(--m-size)
}

dl.icon {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: var(--radius)
}

ul.pmlist dt {
    width: 100%
}

table#memberlist img {
    max-width: 50px
}

table.table1 tbody td:nth-child(2) a {
    max-width: 145px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

/*---------- CALENDRIER ----------*/
#calendar thead, table.table1 tbody th {
    background-color: var(--base-3);
}

p.calendar-day-date {
    text-align: center;
    background: var(--base-2);
    border-bottom: 1px solid var(--co-1);
    text-transform: uppercase;
    font-size: var(--xs-size);
    letter-spacing: 1px;
}
div#calendar img {
    display: none;
}

/*---------- FOOTER ----------*/
#page-footer .rightside,
#page-footer .rightside a,
.copyright a {
    color: var(--blanc);
    text-transform: uppercase;
    font-size: var(--s-size);
    letter-spacing: 1px;
}

.footerbar-system li:first-child {
    width: 78px;
    padding: 5px 8px 5px 3px;
    background: var(--co-gradient);
    border-radius: var(--xs-radius);
}

.footerbar-system,
.footerbar-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.copyright-body {
    margin: 0;
    padding: 10px 0 5px;
    height: 42px;
    border-color: var(--base-2);
}

#page-footer {
    background: none;
    position: relative;
}

#page-footer {z-index:0;padding-bottom:45px;}
#page-footer>.wrap {margin-top: 50px;display: flex; justify-content: space-around; align-items: center; padding: 10px 11px 5px}
.footerbar-system {padding:0}
.copyright-body {border: none}

li.header dt, li.header dd {color: var(--co-1)}
form[action^="/search?search_id=draftsearch"] .table1 td:first-child,
form[action^="/search?search_id=draftsearch"] .table1 th:first-child { display: none; }
